{%  load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Reset</title>
    <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}"/>
</head>
<body>
    <div class="box">
        <h2>重设密码</h2>
        <div class="input-box">
            <label>新密码</label>
            <input type="password"/>
        </div>
        <div class="input-box" style="margin-top: 20px">
            <label>确认新密码</label>
            <input type="password"/>
        </div>
        <div class="btn-box">
            <div style="margin-top: 25px;">
                <button style="width: 250px;margin-bottom: 20px">确定</button>
                <!--<button onclick="window.location.href = 'index.html'">返回</button>-->
            </div>
        </div>
    </div>
</body>
</html>