<!-- login.html -->
{%  load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="icon" href="{% static 'images/Spider-Man.ico' %}">
    <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}"/>
</head>
<body>
    <div class="box">
        <h2>登录</h2>
        <form method="post">
            {% csrf_token %}
        <div class="input-box">
            <label>用户名</label>
            <input type="text" class="username" name='username' oninput="value=value.replace(/[^\w\u4E00-\u9FA5]/g,'')"/>
        </div>
        <div class="input-box" style="margin-bottom: 0">
            <label>密码</label>
            <input type="password" name='password'/>
            <label style="color: red">{{ wrongmsg }}</label>
        </div>
        <div class="btn-box">
            <div>
            <input type="checkbox"  value="true" name="rememberpw"/>
            <label id="remember">记住密码</label>
            </div>
            <div>
                <button style="width: 250px;margin-top: 15px;" id="loginbn" type="submit">登录</button>
            </div>
        </div>
        </form>
        <div class="btn-box">
            <div>
                <button onclick="window.location.href = '/register/'" id="regisbn">注册</button>
                <button id="visitorbn" >以游客身份登录</button>
            </div>
            <div style="margin-top: 20px">
                <a href="/forgetpw/" style="width: 250px">忘记密码?</a>
            </div>
        </div>
    </div>
</body>
</html>