<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>String Processing</title>
</head>
<body>
    <p id="blink">字符串加密综合</p>
    <script type="text/javascript">var blink =document.getElementById('blink');setInterval(function () {blink.style.opacity =(blink.style.opacity == 0 ? 1:0);}, 1000);</script>
    <form method="post" id="encoder">
        <label for="en_mod">Encoder:</label>
        <select id="en_mod" name="en_mod">
            <option value="option1">移位加密</option>
            <option value="option2">AES加密</option>
            <option value="option3">DES加密</option>
            <option value="option4">RSA加密</option>
            <option value="option5">MD5转写</option>
            <option value="option6">hash转写</option>
        </select><br>
        {% csrf_token %}
        <label for="key1">key:</label>
        <input type="text" id="key1" name="key1" value="{{ request.POST.key1 }}"><br>
        <label for="plaintext">text:</label>
        <input type="text" id="plaintext" name="plaintext" value="{{ request.POST.plaintext }}"><br>
        <input type="submit" value="加密">
    </form>
    <div id="encode">{{ encode }}</div>


    <form method="post" id="decoder">
        <label for="de_mod"><blink>Decoder:</blink></label>
        <select id="de_mod" name="de_mod">
            <option value="option1">移位解密</option>
            <option value="option2">AES解密</option>
            <option value="option3">DES解密</option>
            <option value="option4">RSA解密</option>
        </select><br>
        {% csrf_token %}
        <label for="key2">key:</label>
        <input type="text" id="key2" name="key2" value="{{ request.POST.key2 }}"><br>
        <label for="ciphertext">text:</label>
        <input type="text" id="ciphertext" name="ciphertext" value="{{ request.POST.ciphertext }}"><br>
        <input type="submit" value="解密">
    </form>
    <div id="decode">{{ decode }}</div>
</body>
</html>